.banner {
  text-align: center;
}

.banner-copy {
  display: table-cell;
  vertical-align: middle;
}

.banner-title {
  font-size: 5rem;
  letter-spacing: .05em;
  margin: 0 0 1rem 0;
}

.banner-tagline {
  margin: 0 0 2rem 0;
  font-weight: 400;
}