/* The background lines for the board */
.board {
  width: 702px;
  width: 702px;
  background: url('13x13.svg') no-repeat center transparent;
  background-size: 649px;
  margin: 0 auto;
}

.board-row {
  width: 702px;
}

.board-row:after {
  content: "";
  display: table;
  clear: both;
}

/* A space you can play in */
.node {
  position: relative;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 2px;
  display: inline-block;
  border: 2px solid transparent;
  float: left;
  cursor: default;
}

.node-white {
  background-color: white;
  border-color: white;
}

.node-black {
  background-color: black;
  border-color: black;
}

.node-last:before {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  top: 18px;
  left: 18px;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 12px;
}

.player-white .board-turn-white .node.node-empty:hover, .player-white .board-turn-white .node.node-empty:focus {
  outline: none;
  background-color: white;
  opacity: .8;
  cursor: pointer;
}

.player-black .board-turn-black .node.node-empty:hover, .player-black .board-turn-black .node.node-empty:focus {
  outline: none;
  background-color: black;
  opacity: .8;
  cursor: pointer;
}

/* invite */
.board-invite {
  max-width: 20em;
  color: var(--light-purple);
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -5.5rem auto 0 auto;
  z-index: 12;
  padding-left: .5em;
}

.board-invite-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 1.25em;
  padding-right: 1.5em;
}

.board-invite-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: -.5em;
}

/* purple drank/sizzurp theme */
.board-purple {
  background-image: url('13x13-purple.svg');
}

.board-purple .node-white {
  background-color: var(--pink);
  border-color: var(--pink);
}

.board-purple .node-black {
  background-color: var(--dark-purple);
  border-color: var(--dark-purple);
}

.node-last:before {
  border-color: var(--lightest-purple);
}

.player-white .board-purple.board-turn-white .node.node-empty:hover, .player-white .board-turn-white .node.node-empty:focus {
  background-color: var(--pink);
}

.player-black .board-purple.board-turn-black .node.node-empty:hover, .player-black .board-turn-black .node.node-empty:focus {
  background-color: var(--dark-purple);
}