:root {
  --board-size: 13;
  --board-width: 60vw;
  --node-size: calc(var(--board-width) / var(--board-size) * .8);
}

/* The background lines for the board */
.board-wrap {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.board {
  width: var(--board-width);
  height: var(--board-width);
  background: url('13x13.svg') no-repeat center transparent;
  background-size: calc(var(--board-width) - var(--node-size));
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-row {
  width: var(--board-width);
  display: flex;
  justify-content: space-between;
}

/* A space you can play in */
.node {
  position: relative;
  width: var(--node-size);
  height: var(--node-size);
  box-sizing: border-box;
  border-radius: calc(var(--node-size) / 2);
  display: inline-block;
  float: left;
  cursor: default;
}

.node-white {
  border: 2px solid var(--purple);
}

.node-black {
  border: 2px solid var(--purple);
}

.node-last:before {
  content: "";
  display: block;
  position: absolute;
  height: calc(var(--node-size) / 4);
  width: calc(var(--node-size) / 4);
  left: 50%;
  top: 50%;
  margin-left: calc(var(--node-size) / -8);
  margin-top: calc(var(--node-size) / -8);
  box-sizing: border-box;
  border-radius: calc(var(--node-size) / 3);
}

.player-white .board-turn-white .node.node-empty:hover, .player-white .board-turn-white .node.node-empty:focus {
  outline: none;
  background-color: white;
  opacity: .8;
  cursor: pointer;
}

.player-black .board-turn-black .node.node-empty:hover, .player-black .board-turn-black .node.node-empty:focus {
  outline: none;
  background-color: black;
  opacity: .8;
  cursor: pointer;
}

/* invite */
.board-invite {
  max-width: 20em;
  color: var(--light-purple);
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -5.5rem auto 0 auto;
  z-index: 12;
  padding-left: .5em;
}

.board-invite-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 1.25em;
  padding-right: 1.5em;
}

.board-invite-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: -.5em;
}

.board-full .board-invite {
  display: none;
}

.watching .node {
  pointer-events: none;
}

.player-black .board-turn-white .node
.player-white .board-turn-black .node {
  pointer-events: none;
}

/* purple drank/sizzurp theme */
.board-purple {
  background-image: url('13x13-purple.svg');
}

.board-purple .node-white {
  background-color: var(--pink);
}

.board-purple .node-black {
  background-color: var(--dark-purple);
}

.node-last:before {
  background-color: var(--blue);
}


.player-white .board-purple.board-turn-white .node.node-empty:hover, .player-white .board-turn-white .node.node-empty:focus {
  background-color: var(--pink);
}

.player-black .board-purple.board-turn-black .node.node-empty:hover, .player-black .board-turn-black .node.node-empty:focus {
  background-color: var(--dark-purple);
}