label {
  display: block;
  margin-bottom: 1.5rem;
}

button, select {
  font-size: .875rem;
  padding: .5rem .75rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 1.25rem;
  border: none;
  cursor: pointer;
  border: 1px solid #cdcdcd;
  height: 2.25rem;
}

button {
  width: 100%;
  background-color: blue;
  border-color: dark-blue;
  color: white;
}

button:hover, button:focus {
  outline: none;
  border-color: red;
}

select {
  background-color: #dfdfdf;
  -webkit-appearance: none;
  width: auto;
  margin-left: .5rem;
}

select:hover, select:focus {
  border-color: blue;
  outline: none;
}
