label {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.75rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  background-color: blue;
  color: white;
  padding: .75em 1em;
  border-radius: 1.5em;
  border: none;
  text-decoration: none;
  font-family: var(--font-family);
}

.btn-large {
  font-size: 1.25rem;
}

.btn-small {
  font-size: .85rem;
}

.btn-clear {
  font-size: .85rem;
  border: 2px solid blue;
  background-color: transparent;
  color: blue;
}

.btn-center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.btn:hover, .btn:focus {
  outline: none;
  border-color: red;
}

select {
  box-sizing: border-box;
  background-color: transparent;
  -webkit-appearance: none;
  width: auto;
  margin-left: .5rem;
  height: 3rem;
  font-size: 1rem;
  padding: .75em 1em;
  border-radius: 1.5em;
  border: 3px solid blue;
  color:vlue;
}

select:hover, select:focus {
  background-color: blue;
  color: white;
}

.input-text {
  background-color: white;
  border-radius: 1.5em;
  font-family: var(--font-family);
  font-size: 1rem;
  padding: .75em 1em;
  box-sizing: border-box;
  border: 1px solid white;
  color: black;
}

.input-text:focus {
  outline: none;
  border-color: blue;
}


