label {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.75rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  background-color: var(--blue);
  color: white;
  padding: .75em 1em;
  border-radius: 1.5em;
  border: none;
  text-decoration: none;
  font-family: var(--font-family);
}

.btn-large {
  font-size: 1.25rem;
}

.btn-center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.btn:hover, .btn:focus {
  outline: none;
  border-color: red;
}

select {
  background-color: transparent;
  -webkit-appearance: none;
  width: auto;
  margin-left: .5rem;
  height: 2.75rem;
  font-size: 1rem;
  padding: .75em 1em;
  border-radius: 1.5em;
  border: 1px solid var(--pink);
  color: var(--pink);
}

select:hover, select:focus {
  background-color: var(--pink);
  color: var(--purple);
  outline: none;
}

.input-text {
  background-color: var(--lightest-purple);
  border-radius: 1.5em;
  font-family: var(--font-family);
  font-size: 1rem;
  padding: .75em 1em;
  box-sizing: border-box;
  border: 1px solid var(--lightest-purple);
  color: var(--dark-purple);
}

.input-text:focus {
  outline: none;
  border-color: var(--blue);
}


