html {
  background-color: var(--purple);
  overflow-y: scroll;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

.wrapper {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none !important;
}

svg:not(:root) {
  overflow: hidden;
}

video,
img {
  max-width: 100%;
  height: auto;
}