@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap'), local('Asap-Regular'), url('asap-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  src: local('Asap Bold'), local('Asap-Bold'), url('asap-bold.woff2') format('woff2');
}

body {
  font-family: var(--font-family);
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}