@import "_reset.css";
@import "_type.css";
@import "_forms.css";
@import "_board.css";

:root {
  --purple: #847AD1;
  --large: 10px;
}

a {
  color: var(--purple);
}

pre {
  padding: var(--large);
}

.panel {
  padding: 2rem 4rem 4rem 4rem;
  box-sizing: border-box;
  background: white;
  margin: 0 auto;
  max-width: 42em;
  display: table;
}