@import "_reset.css";
@import "_type.css";
@import "_forms.css";
@import "_board.css";
@import "_banner.css";
@import "_modal.css";

@import "themes/_sizzurp.css";

:root {
  --font-family: 'Asap', sans-serif;
  --gray: #dfdfdf;
  --dark-gray: #8f8f8f;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 auto;
}

.leader-0 {
  margin-top: 0;
}

.leader-1 {
  margin-top: 3rem;
}

.table {
  width: 100%;
  min-height: 100vh;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.panel {
  font-size: 2rem;
  padding: 3rem 4rem;
  box-sizing: border-box;
  border: 2px solid blue;
  margin: 0 auto;
  max-width: 42em;
  display: table;
}


.left {
  float: left;
}

.right {
  float: right;
}